{% extends 'base.html' %}

{% block section %}
<div class="container-md bg-danger-subtle">

<h1 ><solid>🏠 Welcome to the Online Crime Reporting System</solid></h1>
<h3>🚔 Report Crime. Stay Safe. Stay Empowered</h3>.
<h5>The Online Crime Registration System is a secure and user-friendly 
platform that enables citizens to report crimes quickly and conveniently 
from anywhere, at any time. This digital service aims to bridge the gap 
between the public and law enforcement, ensuring a faster, more transparent, 
and accountable system for addressing criminal activities.</h5>

</div>


{% endblock %}